<div class="container">
  <h2 class="title">Role</h2>

  <!-- Add Role Form -->
  <div class="form-card">
    <input type="text" placeholder="Role Name" [(ngModel)]="role.roleName" />

    <button class="add-btn" (click)="addRole()">
      {{ isEditMode ? 'Update Role' : 'Add Role' }}
    </button>
  </div>

  <!-- Role Table -->
  <div class="table-card">
    <table>
      <thead>
        <tr>
          <th>Role Name</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let r of roleList; let i = index">
          <td>{{ r.roleName }}</td>
          <td>
            <button class="edit-btn" (click)="editRole(i)">Edit</button>
            <button class="delete-btn" (click)="deleteRole(i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>